body {
    max-width: 800px;
    margin: 40px;
    font-family: sans-serif;
    line-height: 1.3;
  }

  header, footer {
    text-align: center;
    margin-bottom: 24px;
  }

  nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #53a019;
    font-weight: bold;
  }

  nav a:hover {
    text-decoration: underline;
  }

  footer {
    margin-top: 40px;
    font-size: 14px;
    color: #777;
  }